<style>
  .for-small{
    position: fixed;
    bottom: 0!important;
    min-height: 40px!important;
    overflow: hidden;
    margin: 0!important;
  }

  .for-small>.item>.plus, .trash, .bars{
    font-size: 1.7rem!important;
    color: #a33888;
  }

  .ui.purple.segment{
    box-shadow: 0 5px 21px 0 rgba(34,36,38,.15)!important;
  }

  .ui.segment{
    border: none;
    box-shadow: none;
  }

  .instrument{
    margin: 0!important;
  }

  .with-bottom-margin{
    margin-bottom: 1rem!important;
  }

  .with-top-margin{
    margin-top: 3rem!important;
  }

  .instrument-input{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0!important;
  }

  .card-10clouds{
    border: none!important;
    box-shadow: 0 5px 21px 0 rgba(34,36,38,.15)!important;
  }

  .to-right{
    text-align: right;
  }

  .dark-violet{
    color: #2e235e!important;
  }
      

</style>

<section class="ui stackable two column centered grid instrument">
  <div class="column">

    <div class="ui large form">
      <div class="field with-bottom-margin">
        <label class="dark-violet">Questionário</label>
        <input type="text" class="card-10clouds" placeholder="Insira a descrição do questionário">
      </div>
    </div>

    <div class="to-right">
      <div class="ui slider checkbox">
        <input type="checkbox" id="eliminatory_instrument" name="eliminatory-instrument">
        <label for="eliminatory_instrument">É eliminatório?</label>
      </div>  
    </div>

    <h5 class="ui horizontal divider header ">
      Questões
    </h5>

    <div id="questions">

      <section class="ui purple segment question">
        <div class="ui large form">
          <div class="field with-bottom-margin">
            <input type="text" class="instrument-input" placeholder="Questão..." data-action="selectAllText">
          </div>
        </div>
      </section>

    </div>

  </div>
</section>

<div id="menu" class="ui three item icon menu for-small">
  <a data-action="addNewQuestion" class="item">
    <i data-action="addNewQuestion" class="plus circle icon"></i>
  </a>
  <a id="removeSelectedQuestion" class="item" data-action="proccessRemotionOfSelectedQuestion">
    <i class="trash alternate outline icon" data-action="proccessRemotionOfSelectedQuestion"></i>
  </a>
  <a class="item" data-action="openQuestionOptions">
    <i class="bars icon" data-action="openQuestionOptions"></i>
  </a>
</div>

<div class="ui modal">
  <div class="ui header">
      Opções
  </div>
  <div class="content">

    <div class="ui form">

      <label class="dark-violet">Tipo da Questão</label>
      <div class="grouped fields">

        <div class="field">
          <div class="ui slider checkbox">
            <input id="single-choice" type="radio" name="whatever" checked="checked">
            <label for="single-choice">Escolha única</label>
          </div>
        </div>
        <div class="field">
          <div class="ui slider checkbox">
            <input id="multiple-choice" type="radio" name="whatever">
            <label for="multiple-choice">Múltipla escolha</label>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>

  <div class="actions">
    <div class="buttons">
      <div class="ui violet cancel inverted button">
        <i class="remove icon"></i>
        Cancelar
      </div>
      <div class="ui violet ok inverted button">
        <i class="checkmark icon"></i>
        Configurar
      </div>
    </div>
  </div>

</div>

<script>
  const addClickListenerOn = (element, toExecuteThisFunction) => element.addEventListener('click', toExecuteThisFunction);
  const containerWithIdOf = (elements) => document.getElementById(elements);

  function toMakeTheInnerQuestionClickedTheActiveOne(event){
    deactivate(currentActiveQuestion());
    activate(newCurrentQuestionInThis(event));
  }

  const deactivate = (component) => component ? component.classList.remove('purple') : null;
  const currentActiveQuestion = () => document.getElementsByClassName('purple')[0];
  const activate = (component) => component ? component.classList.add('purple') : null;
  const newCurrentQuestionInThis = (event) => event.target.closest('.question');

  addClickListenerOn(containerWithIdOf('questions'), toMakeTheInnerQuestionClickedTheActiveOne);

  //Implement behaviors to configure the question being created
  addClickListenerOn(containerWithIdOf('questions'), toTakeActionsToConfigureTheQuestionBeingCreated);

  function toTakeActionsToConfigureTheQuestionBeingCreated(event){
    if (!event.target.dataset.action) return;
    window[`${event.target.dataset.action}`](event.target);
  }

  function selectAllText(element){
    element.select();
  }

  //End the configuration of questions being created


  //End of Turn the question the active one

  //function that execute the actions on questions like add or remove
  function toTakeActionsOnQuestionsBeingCreated(event){
    if (!event.target.dataset.action) return;
    window[`${event.target.dataset.action}`](event);
  }
  
  //end of executioner

  //creation of new question
  function addNewQuestion(event){
    const questions = containerWithIdOf('questions');
    const newQuestion = buildNewQuestion();

    if(currentActiveQuestion()){
      questions.insertBefore(newQuestion, currentActiveQuestion().nextSibling);
      deactivate(currentActiveQuestion());
    }else{
      questions.appendChild(newQuestion);
    }
  }
  
  function createQuestionWrapper(){
    element = document.createElement('section');
    element.setAttribute('class', 'ui purple segment question');
    return element;
  }

  function createQuestionElementsContainer(){
    const questionFormElements = document.createElement('div');
    questionFormElements.setAttribute('class', 'ui large form');
    return questionFormElements;
  }

  function createQuestionDescriptionContainer(){
    const questionField = document.createElement('div');
    questionField.setAttribute('class', 'field with-bottom-margin');
    return questionField;
  }

  function createQuestionDescriptionInput(){
    const questionInput = document.createElement('input');
    questionInput.setAttribute('type', 'text');
    questionInput.setAttribute('class', 'instrument-input');
    questionInput.setAttribute('placeholder', 'Questão...');
    questionInput.setAttribute('data-action', 'selectAllText');
    return questionInput;
  }

  function buildNewQuestion(){
    const uiQuestion = createQuestionWrapper();
    const questionFormElements = createQuestionElementsContainer();
    const questionField = createQuestionDescriptionContainer();
    const questionInput = createQuestionDescriptionInput();

    questionField.appendChild(questionInput);
    questionFormElements.appendChild(questionField);
    uiQuestion.appendChild(questionFormElements);

    return uiQuestion;
  }
  
  //end creation of new question

  const thereIsNoCurrentActiveQuestion = () => currentActiveQuestion() ? false : true;

  function proccessRemotionOfSelectedQuestion(event){
    if (thereIsNoCurrentActiveQuestion()) return;
    let previousSiblingOfQuestionBeingRemoved = currentActiveQuestion().previousElementSibling;
    currentActiveQuestion().remove();
    activate(previousSiblingOfQuestionBeingRemoved);
  }

  function openQuestionOptions(event){
    $('.ui.modal').modal('show');
  }
  
  addClickListenerOn(containerWithIdOf('menu'), toTakeActionsOnQuestionsBeingCreated);
</script>
