<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GreatQuestionsTo!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/semantic.min.css") %>">

    <script src="<%= static_path(@conn, "/js/turbolinks.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/semantic.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/newfile.js") %>"></script>

    <script> 
      $(function(){
      });
    </script>

  </head>

  <style>
    .principal-logo{
      color: #2e235e;
    }

    .secondary-logo{
      color: #a0408f;
    }

    .ui.huge.menu{
      font-size: 1em;
      min-height: 80px;
      border: 0;
      box-shadow: none;
      margin: 0;
    }

    i.circular.icon{
      padding: 0 !important;
      padding-top: .5em !important;
    }

    .user-call{
      padding: 0!important;
    }

    .user-call-in-menu{
      color: #a33888 !important;
      text-align: center !important;
      border: none!important;
      box-shadow: none!important;
    }

    .user-call-in-menu-with-margin{
      color: #a33888!important;
      text-align: center!important;
      border: none!important!;
      box-shadow: none!important;
      margin-right: 1.5em!important;
    }

    .ui.header{
      color: #a33888 !important;
    }

    @media (max-width: 767px){
      .header{
        font-weight: 100!important;
      }
    }
    
  </style>

  <body style="background-color:#F4F5F8;">
    <div class="pusher">
      <header class="ui borderless huge menu">
        <h2 class="ui header small item">
          <!--<i class="settings icon logo"></i>-->
          <i class="users icon"></i>
          <div class="content principal-logo">
            Great Questions Club
            <div class="sub header secondary-logo">Questions that matter</div>
          </div>
        </h2>

        <nav class="menu right">
          <span class="user-call item">
            <a id="see_profile" href="/"><i class="large user-call-in-menu-with-margin circular student icon"></i></a>
            <a id="log_out" href="/"><i class="large user-call-in-menu power icon"></i></a>
          </span>
        </nav>
      </header>

      <main class="container">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
