<style>

  .ui.vertical.stripe{
    padding: 2em 0em;
    border: 0;
  }

  .four.centered.column{
    padding: 0 !important;
    width: auto !important;
  }

  .ui.statistic>.value{
    color: #BFB2C5;
  }

  .ui.statistic>.label{
    color: #2E235E;
  }

  .button>a{
    color: #6435c9!important;
  }

  .ui.segments{
    border: 0 !important;
    box-shadow: 0 5px 21px 0 rgba(34,36,38,.15);
    /*box-shadow: 0 42px 64px 0 #e7e7ec; Unibank example */
  }

  .ui.segment{
    border: 0 !important;
  }

  .ui.purple.button{
    color: #a33888 !important;
  }

  .ui.pointing.label{
    color: #a33888 !important;
    border-color: #a33888 !important;
  }

  .list>.item>.content>.header{
    color: #382063;
    font-weight: 100 !important;
  }

  .list>.item>.content>.subheader{
    color: #BFB2C5;
    /*color: #999295;*/
  }

  tr>.header,.subheader{
    border: none !important;
  }

  .hd-pink{
    color: #a33888!important;
  }

  .subheader-gray{
    color: #999;
  }

  .ui.two.column.grid.container{
    width: 100%!important;
  }

  .with-padding{
    padding-left: 1.5em!important;
    padding-top: 0.5em!important;
  }

  .ui.items:not(.unstackable)>.item{
    flex-direction: row!important;
  }

  #questionnaire-count,#team-count{
    font-size: 4rem!important;
  }

  #questionnaires-overview,#team-overview{
    box-shadow: 0 5px 21px 0 rgba(34,36,38,.15);
  }
  
  @media (max-width: 991px){
    .research-support{
      margin-top: 2rem!important;
    }
  }
  @media only screen and (max-width: 767px){

    .ui.two.column.grid.container{
      width: auto!important;
    }

    .ui.middle.aligned.stackable.grid.container{
      text-align: center;
    }

    .ui.stackable.grid>.row>.column{
      margin-left: auto !important;
      margin-right: auto !important;
      width: auto !important;
    }

    .ui.table:not(.unstackable) tbody{
      display: table-row-group!important;
    }

    .ui.table:not(.unstackable) tr{
      display: table-row-group!important;
      border: 0 !important;
      box-shadow: none !important;
    }

    .ui.table:not(.unstackable) tr>td{
      display: table-cell!important;
    }

    #stats-table{
      line-height: 2rem!important;
    }
  }

  @media (max-width: 600px){
    .ui.statistic>.value{
      font-size: 2rem !important;
    }

    .ui.statistic>.label{
      font-size: .8rem !important;
    }
  }

  @media(max-width: 587px){
    #research-img{
      display:none !important;
    }

    #stats-table{
      width: 100% !important;
    }
  }

  @media(max-width: 500px){
    .ui.stackable.grid>.row>.column{
      width: 50% !important;
    }
  }

  @media(max-width: 483px){
    #collected-questionnaires, #export-questionnaires{
      width:100%!important;
    }

    #export-questionnaires{
      margin-top: 1em!important;
    }
  }
  
</style>

<section class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">

      <article class="four centered column">
        <div class="ui statistic">
          <div class="value">
            15
          </div>
          <div class="label">
            Pesquisadores
          </div>
        </div>
      </article>
      
      <article class="four centered column">
        <div class="ui statistic">
          <div class="value">
            10
          </div>
          <div class="label">
            Questionários
          </div>
        </div>
      </article>
      
      <article class="four centered column">
        <div class="ui statistic">
          <div class="value">
            122
          </div>
          <div class="label">
            Entrevistados
          </div>
        </div>
      </article>
      
      <article class="four centered column">
        <div class="ui statistic">
          <div class="value">
            67
          </div>
          <div class="label">
            Dias decorridos
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
  
<div class="ui two column grid container">
  <div class="stretched row">
    <section id="research-overview" class="sixteen wide tablet ten wide computer column">

      <div class="ui segments">
        <div class="ui segment">
          <div class="ui two wide equal width column grid">
            <div class="column">
              <h3 class="ui header">Pesquisa
                <span class="sub header">Visão Geral</span>
              </h3>
            </div>
            <div class="column">

              <div class="ui violet basic right floated icon button" tabindex="0">
                <i class="comments icon"></i>
                <a id="new_interview" href="#">Entrevista</a>
              </div>

            </div>
          </div>
        </div>

        <div class="ui segment" style="padding-top: 2rem; padding-bottom: 2rem;">

          <div class="ui two column grid container">

            <table id="stats-table" class="ui very basic collapsing table ten wide column" style="font-size: .9em;padding:0;">
              <tbody>
                <tr>
                  <td class="header" style="color:#073872;">Entrevistas realizadas:</td>
                  <td class="subheader subheader-gray">122</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Questionários coletados:</td>
                  <td class="subheader subheader-gray">300</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Último coletador:</td>
                  <td class="subheader subheader-gray">Denise Marques</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Última coleta:</td>
                  <td class="subheader subheader-gray">20/04/2018 - 15:17</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Coletas não finalizadas:</td>
                  <td class="subheader subheader-gray">22</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Início da pesquisa:</td>
                  <td class="subheader subheader-gray">05/02/2018</td>
                </tr>
                <tr>
                  <td class="header" style="color:#073872;">Dias decorridos:</td>
                  <td class="subheader subheader-gray">67</td>
                </tr>
              </tbody>
            </table>

            <img id="research-img" class="ui image right floated column" src="css/themes/default/assets/images/research-comm.png" style="width:25%;height:25%;padding:0;min-width:136px;min-height:136px;filter: hue-rotate(220deg);">
          </div>

        </div>

        <div class="ui right aligned segment">

          <div id="collected-questionnaires" class="ui basic violet icon button" tabindex="0">
            <i class="unhide icon"></i> 
            <a id="see_all_applied" href="#">Questionários realizados</a>
          </div>

          <div id="export-questionnaires" class="ui basic violet icon button" tabindex="0">
            <i class="upload icon"></i> 
            <a id="export_questionnaires" href="#">Exportar questionários</a>
          </div>

        </div>

      </div>
    </section>

    <div class="research-support sixteen wide tablet six wide computer column">
      <section id="questionnaires-overview" class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="ui statistic">
              <div id="questionnaire-count" class="value">10</div>
            </div>

            <div class="content with-padding">
              <div class="header hd-pink">Questionários criados</div>
              <div class="meta">
                <span class="price subheader-gray">5</span>
                <span class="stay subheader-gray">sendo usado na pesquisa</span>
              </div>
              <div class="description">
                <p>Os questinários criados aqui servem para mover o conhecimento da humanidade um pouco mais pra frente</p>
              </div>
            </div>
          </div>
            <div class="ui right floated basic violet icon button" tabindex="0">
              <i class="add icon"></i> 
              <a id="add-questionnaire" href="<%= questionnaire_path(@conn, :new) %>">Questionário</a>
            </div>
            <div class="ui right floated basic violet icon button" tabindex="0">
              <i class="unhide icon"></i> 
              <a id="show-questionnaires" href="#">Existentes</a>
            </div>
        </div>
      </section>

      <section id="team-overview" class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="ui statistic">
              <div id="team-count" class="value">15</div>
            </div>
            <div class="content with-padding">
              <div class="header hd-pink">Pesquisadores</div>
              <div class="meta">
                <span class="price subheader-gray">5</span>
                <span class="stay subheader-gray">ativos na última semana</span>
              </div>
              <div class="description">
                <p>Aqui tem que escrever alguma coisa bem interessante para colocar no lugar daqui</p>
              </div>
              
            </div>
          </div>
          <div class="ui right floated basic violet icon button" tabindex="0">
            <i class="add icon"></i> 
            <a id="add-researcher" href="#">Pesquisador</a>
          </div>
            <div class="ui right floated basic violet icon button" tabindex="0">
              <i class="unhide icon"></i> 
              <a id="researchers" href="#">Ver todos</a>
            </div>
        </div>
      </section>  
    </div>
  </div>
</div>

<script>
  $('.ui.inline.dropdown').dropdown();
</script>
