<div class="ui cards">
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div id="btn-green" class="ui basic green button">Approve</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
</div>


<div class="ui three column center aligned divided grid container">
  <div class="row">
    <div class="column">
      <div class="ui vertical fluid menu">
        <div class="header item">Primeira Coluna</div>
      </div>
    </div>
    <div class="column">
      <div class="header item">Segunda Coluna</div>
    </div>
    <div class="column">
      <div class="header item">Terceira Coluna</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="header item">Quarta Coluna</div>
    </div>
    <div class="column">
      <div class="header item">Quinta Coluna</div>
    </div>
    <div class="column">
      <div class="header item">Sexta Coluna</div>
    </div>
  </div>
</div>
